{% extends 'base.html' %}

{% block title %}Manage Users - {{ block.super }}{% endblock %}

{% block content %}
<main class="container mt-5 fade-in">
    <h1 class="mb-4">User Management</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <form action="{% url 'update_user' user.id %}" method="POST">
                        {% csrf_token %}
                        <label>
                            <select name="role" class="form-select" onchange="this.form.submit()">
                                <option value="Patron" {% if user.userprofile.role == 'Patron' %}selected
                                {% endif %}>
                                    Patron
                                </option>
                                <option value="Librarian" {% if user.userprofile.role == 'Librarian' %}selected
                                {% endif %}>
                                    Librarian
                                </option>
                            </select>
                        </label>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</main>
{% endblock %}
